@using Microsoft.JSInterop
@inject IJSRuntime jsr

@inherits LayoutComponentBase

<PageTitle>@AppStrings.Title</PageTitle>

<div class="page-container">

	<nav class="navbar navbar-expand-lg bg-body-secondary">

		<div class="container-fluid">

			<a class="navbar-brand " href="#">
				<img src="/bootstrap-logo.svg" alt="Logo" width="30" height="30" />
			</a>
			<a class="navbar-brand mt-1" href="#">@AppStrings.Title - MAIN LAYOUT</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class=" collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

				<ul class="navbar-nav mb-2 mb-lg-0 ">
					<LoginDisplay />

					<li class="nav-item">
						<a class="nav-link bi @themePreferenceIcon" style="cursor:pointer;" @onclick=@ToggleTheme></a>
					</li>

					<AuthorizeView>
						<Authorized>
							<li class="nav-item">
								<button class=" nav-link btn btn-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasMain">
									<i class="bi bi-list text-danger" ></i> Menu
								</button>
							</li>
						</Authorized>
					</AuthorizeView>

				</ul>
			</div>

		</div>
	</nav>

	<AuthorizeView>
		<Authorized>
			<NavMenu />
		</Authorized>
	</AuthorizeView>

	@Body

	<footer class="slim-footer  bg-body-tertiary border-top pl-3 text-muted">
		<div class="container">
			<p>&copy; @DateTime.Now.Year <a style="color: rebeccapurple; font-weight: 600;">❤</a>  @AppStrings.Title v @AppStrings.Version</p>
		</div>
	</footer>

</div>


@code {
	private string themePreferenceIcon = "bi-moon-stars";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		themePreferenceIcon = GetThemePreferenceIcon(await jsr.InvokeAsync<string>("getSavedThemePreference"));
		StateHasChanged();
	}

	private async Task ToggleTheme()
	{
		themePreferenceIcon = GetThemePreferenceIcon(await jsr.InvokeAsync<string>("toggleThemePreference"));
	}

	private string GetThemePreferenceIcon(string mode)
	{
		return (mode == "light") ? "bi-moon-stars" : "bi-brightness-alt-high";
	}
}


