@page "/"

<PageTitle>@AppStrings.Title</PageTitle>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-6 mt-4">
			<div class="ms-2 me-1">
				<h2><img src="/favicon.png" /> Hi <a style="color: rebeccapurple; font-weight: 600;">Apical </a>Development!</h2>
				<div class="ms-4">
					<h6>Let's build some coolness!</h6>
					<hr />
					<h6><a style="color: rebeccapurple; font-weight: 600;">Emon</a> Blazor Server Template With:</h6>
					<ul>
						<li>Identity Core for Individual Accounts</li>
						<li>Bootstrap 5.3, now with first class darkmode!</li>
						<li>Starter Layouts to Separate Admin and Public Areas.</li>
						<li>All Identity Scaffolds retouched with bootstrap 5.3</li>
						<li>Template Version: @AppStrings.Version <a style="color: rebeccapurple; font-weight: 600;">❤</a></li>
					</ul>

					<div class="d-flex flex-row justify-content-evenly">
						<button class="btn btn-primary mt-4" data-bs-toggle="modal" href="#" data-bs-target="#ConfirmPopup">Confirmation Popup</button>
						<button class="btn btn-primary mt-4" @onclick=@ToggleConditionalPopup>Conditional Popup</button>
					</div>

					<div class="alert alert-secondary mt-4 d-flex justify-content-center">
						<span class="oi oi-pencil me-2" aria-hidden="true"></span>
						<strong>What are you waiting for??</strong>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</div>

<ConfirmationPopup Title="@($"<a style='color: rebeccapurple;'>❤</a> Bootstrap Popup")"
				   Message="@($"<i>Confirmation Popup  Works!!</i><br/> This popup can be activated from HTML!")"
				   OnConfirm="@(async (confirmed) => { Console.WriteLine("Popup Confirmed!"); })"
				   OnExplicitCancel="@(async (confirmed) => { Console.WriteLine("Popup Explicitely Canceled!"); })">
</ConfirmationPopup>

<ConditionalPopup ShowModal="@showModal"
				  Title="@($"<a style='color: rebeccapurple;'>❤</a> Bootstrap Conditional 'modal-lg'")"
				  Message="@($"<i>Conditional Popup  Works!!</i> <br/> This popup can be activated form @code blocks!")"
				  ModalSize="modal-lg"
				  OnConfirm="@(async (confirmed) => { Console.WriteLine("Conditional Popup Confirmed!"); showModal = false;})"
				  OnExplicitCancel="@(async (confirmed) => { Console.WriteLine("Conditional Popup Explicitely Canceled!"); showModal = false;})">
</ConditionalPopup>


@code {

	bool showModal;

	public void ToggleConditionalPopup()
	{
		showModal = !showModal;
	}
}

