@using Microsoft.JSInterop
@inject IJSRuntime jsr

@inherits LayoutComponentBase
@attribute [Authorize]

<PageTitle>MyApp</PageTitle>

<div class="page-container">
	<AuthorizeView>
		<Authorized>
			<nav class="navbar navbar-expand-lg bg-body-secondary">
				<div class="container-fluid">
					<a class="navbar-brand " href="#">
						<img src="/bootstrap-logo.svg" alt="Logo" width="30" height="30" />
					</a>
					<a class="navbar-brand mt-1" href="#">@AppStrings.Title - ADMIN LAYOUT</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasMain">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class=" collapse navbar-collapse justify-content-end" id="navBarCollapse">
						<ul class="navbar-nav mb-2 mb-lg-0 ">
							<LoginDisplay />
							<li class="nav-item">
								<a class="nav-link bi @themePreferenceIcon" style="cursor:pointer;" @onclick=@ToggleTheme></a>
							</li>
							<li class="nav-item">

								<button class=" nav-link btn btn-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasMain">
									<i class="bi bi-list text-danger" ></i> Menu
								</button>

							</li>

						</ul>
					</div>

				</div>
			</nav>

			<NavMenu />

			<article class="content px-4">

				@Body

			</article>

			<footer class="slim-footer  bg-body-tertiary border-top pl-3 text-muted">
				<div class="container">
					<p>&copy; @DateTime.Now.Year <a style="color: rebeccapurple; font-weight: 600;">❤</a>  @AppStrings.Title v @AppStrings.Version</p>
				</div>
			</footer>

		</Authorized>

		<NotAuthorized>
			<div class="container text-center mt-5">
				<h1 class="display-4 mb-4">Oops! This page is off limits.</h1>
				<p class="lead mb-4">Looks like you don't have permission to access this page. You're probably not cool enough.</p>
				<p class="lead">If you want to be cool like the rest of us, you should <a href="Identity/Account/Login" class="text-decoration-none navbar-text fw-bold"><u>login</u></a>.</p>
				<p class="mt-5"><img src="https://media.giphy.com/media/l2JJKs2QJfKOfy3Co/giphy.gif" alt="Go away cat"></p>
			</div>

			<footer class="slim-footer  bg-body-tertiary border-top pl-3 text-muted">
				<div class="container">
					<p>&copy; @DateTime.Now.Year <a style="color: rebeccapurple; font-weight: 600;">❤</a>  @AppStrings.Title v @AppStrings.Version</p>
				</div>
			</footer>
		</NotAuthorized>

	</AuthorizeView>

</div>


@code {
	private string themePreferenceIcon = "bi-moon-stars";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		themePreferenceIcon = GetThemePreferenceIcon(await jsr.InvokeAsync<string>("getSavedThemePreference"));
		StateHasChanged();
	}

	private async Task ToggleTheme()
	{
		themePreferenceIcon = GetThemePreferenceIcon(await jsr.InvokeAsync<string>("toggleThemePreference"));
	}

	private string GetThemePreferenceIcon(string mode)
	{
		return (mode == "light") ? "bi-moon-stars" : "bi-brightness-alt-high";
	}
}